:root{
    --text-c0: #05f4b7;
    --text-c1: #371bb1;
    --text-c2: #474747;
    --bg0: #12151f;
    --bg1: #cccccc;
}

html{
    width: 100%;
    height: 100%;
    background-color: var(--bg0);
}
body{
    margin: 0 auto;
    font-family: "VT323", monospace;
}
ul{
    margin: 0;
}
a{
    text-decoration: none;
}
.header-content, .wrapper-content, .footer-content{
    margin-right: auto;
    margin-left:  auto;
    max-width: 940px; 
}
@media (max-width: 1100px) {
    .header-content, .wrapper-content, .footer-content{
        margin-right: auto;
        margin-left:  auto;
        max-width: 700px; 
    }
}
@media (max-width: 760px) {
    .header-content, .wrapper-content, .footer-content{
        margin-right: 20px;
        margin-left:  20px;
    }
}




.header{
    width: 100%;
    height: 75px;
    background-color: var(--bg1);
    user-select: none;
}
.logo{
    height: 75px;
    transform: translate(0, 7.5%);
    filter: invert(82%) sepia(69%) saturate(5001%) hue-rotate(353deg) brightness(94%) contrast(80%);
}
.header-items{
    color: #cfd308;
    height: 75px;
    display: flex;
    font-size: 30pt;
    align-items: center;
}
.header-items a{
    font-weight: bold;
    text-decoration: none;
    color: var(--text-c2);
    margin-left: auto;
    margin-right: auto;
}
.header-items a:hover{
    color: var(--bg0);
}
@media (max-width: 760px) {
    .header-items{
        height: 75px;
        display: flex;
        font-size: 20pt;
        align-items: center;
    }
    .logo{
        transform: translate(0, 5%);
    }
}
@media (max-width: 560px) {
    #logo{
        display: none;
    }
}
@media (max-width: 420px) {
    .header-items a{
        font-size: 13pt;
        margin: auto;
    }
}


.wrapper{
    min-height: 100vh;
    margin-top: 100px;
}
.wrapper-content{
    color: var(--text-c0);
}
.text a{
    user-select: none;
    text-decoration: none;
    color: var(--text-c1);
    font-size: 15pt;
}
.text a:hover{
    transition: 0.2s;
    opacity: 0.6;
}
.text p{
    font-size: 16pt;
}
.text h1{
    font-size: 30pt;
}
@media (max-width: 760px) {
    .text h1{
        font-size: 20pt;
    }
    .text p{
        font-size: 13pt;
    }
}
@media (max-width: 520px) {
    .text p{
        font-size: 11pt;
    }
}


footer{
    margin-top: 200px;
    width: 100%;
    background-color: var(--bg1);
    border-top: 1px var(--bg0) dashed;
}
.footer-content .footer-text{
    padding-top: 10px;
}
.footer-text a{
    text-decoration: none;
    color: var(--text-c1);
}
.footer-text a:hover{
    opacity: 0.65;
}



.phone-svg{
    float: right; 
    width: 300px;
}
@media (max-width: 600px) {
    .phone-svg{
        width: 200px;
    }
}
@media (max-width: 500px) {
    .phone-svg{
        display: none;
    }
}